---
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Cards from '../components/Cards.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

const allPost = await Astro.glob('../pages/posts/*.md');
---

<Layout title="ArcusCode">
	<Header/>
	<Banner />
	<main>
		<div class="max-w-7xl mx-auto py-5 flex justify-center ">
			<h2 class="relative font-extrabold text-center text-xl before:absolute before:w-24 before:-bottom-2 before:right-9  before:h-1  before:bg-amber-500">Ultimos Articulos</h2>
		</div>
		<div class=" max-w-4xl m-auto flex flex-wrap place-content-center p-3 gap-4">
                    
			{
				allPost.map(post => (
				    <Cards
			            src={post.frontmatter.ImageUrl}
						ImageAlt = {post.frontmatter.ImageAlt}
			            title={post.frontmatter.title}
						Url={post.url}
			            tags = {post.frontmatter.tags}
			            authorUrl = {post.frontmatter.authorUrl}
			            NameAuthor = "Andrea Castañeda"
			         />
				))
				
			}
		</div>
		<Footer/>
	</main>
</Layout>
