---
import BtnShare from "../components/BtnShare.astro";
import Layout from "./Layout.astro";

  const {frontmatter} = Astro.props;

---

<Layout title={frontmatter.title}>
  <div class="max-w-4xl min-h-screen mx-auto px-5 p-0.5 max-sm:px-3">        
      <div class="mt-6 mb-6 flex items-center justify-between">
        <div class="flex items-center w-20 p-2 rounded-md hover:border-slate-900 hover:bg-transparent hover:text-black border-2 bg-slate-900 text-white hover:cursor-pointer hover:transition hover:ease-in hover:duration-200">
          <a href="/" class="flex items-center">
            <svg  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left w-5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" />
            </svg>
            <span class="font-bold text-sm">Atras</span>
          </a>
        </div>
        <div class="flex gap-2 items-center container-btn">
          <p>Compartir:</p>
           <BtnShare color = "bg-sky-800" clasebtn="icon-face" ruta = "/assets/icon_Face.svg"/>
           <BtnShare color = "bg-black" clasebtn="icon-twitter" ruta = "/assets/icon_Twitter.svg" />
           <BtnShare color = "bg-blue-600" clasebtn="icon-likedin" ruta = "/assets/icon_Linkedin.svg" />
        </div>
      </div>

      <img src={frontmatter.ImageUrl} alt={frontmatter.ImageAlt} class="h-80 w-full object-cover max-sm:h-44">

      <h1 class="text-2xl font-extrabold font-Poppins pt-8 pb-3">
        {frontmatter.title}
      </h1>

      <div class="flex items-center gap-2 font-medium text-xs">
        <img src={frontmatter.authorUrl} alt="" class="w-5 h-5 rounded-full">
        <p>{frontmatter.author}</p>
        <span>- Publicado {frontmatter.pubDate.slice(0,10)}</span>
      </div>
      <div class="mt-8 font-Poppins">
        <slot/>
      </div>
    </div>
</Layout>

<script>
  const btnFace = document.querySelector('.icon-face');

  const handleShare = ()=>{
      const urlShare = window.location.href;

      console.log(urlShare)

      window.open(`https://www.facebook.com/sharer.php?u=${encodeURIComponent(urlShare)}`, 'Compartir en Facebook', 'width=600,height=400');
  }

  btnFace?.addEventListener('click', handleShare)

</script>